apiVersion: v1
kind: ConfigMap
metadata:
    name: nginx-config
    labels:
        name: components-api
data:
    nginx.conf: |
        user nginx;
        worker_processes auto;
        pid        /tmp/nginx.pid;

        events {
            worker_connections 1024;
        }


        http {
            # allow running as non-root
            proxy_temp_path /tmp/proxy_temp;
            client_body_temp_path /tmp/client_temp;
            fastcgi_temp_path /tmp/fastcgi_temp;
            uwsgi_temp_path /tmp/uwsgi_temp;
            scgi_temp_path /tmp/scgi_temp;

            server {
                listen 8443 ssl;

                # NOTE! This certificate stuff is really important, since both the
                # API gateway (the client in this context) and envvars-api (the server)
                # verify that each other have certificates signed by the api gateway
                # backend CA.
                ssl_certificate        /etc/nginx/api-gateway-ssl/tls.crt;
                ssl_certificate_key    /etc/nginx/api-gateway-ssl/tls.key;
                ssl_client_certificate /etc/nginx/api-gateway-ssl/ca.crt;
                ssl_verify_client      on;
                ssl_protocols          TLSv1.2;
                ssl_ciphers            HIGH:!aNULL:!MD5;

                location / {
                    proxy_pass http://127.0.0.1:{{ .Values.config.port }};
                }
            }

            server {
                listen 9000;

                location = /metrics {
                    proxy_pass http://127.0.0.1:{{ .Values.config.port }}/metrics;
                }

                location = /v1/healthz {
                    proxy_pass http://127.0.0.1:{{ .Values.config.port }};
                }
            }
        }
