replicas: 2

image:
  # name and tag are currently used by CI
  name: tools-harbor.wmcloud.org/toolforge/components-api
  # Override if needed for development purposes
  tag: OVERWRITTEN_BY_CI
  pullPolicy: IfNotPresent

resources:
  limits:
    memory: 500Mi
    cpu: 500m
  requests:
    memory: 100Mi
    cpu: 500m

nginx:
  image:
    repository: docker-registry.tools.wmflabs.org/nginx
    nginxTag: latest
    pullpolicy: Always

certificates:
  internalClusterDomain: "cluster.local"
  apiGatewayCa:
    name: api-gateway-backend-ca
    kind: ClusterIssuer
    group: cert-manager.io

config:
  debug: false
  port: 8000
  toolforge_api_url: "https://api.svc.tools.eqiad1.wikimedia.cloud"
  # For toolsbeta
  #toolforge_api_url: "https://api.svc.beta.tools.eqiad1.wikimedia.cloud"
  # For lima-kilo
  #toolforge_api_url: "https://api-gateway.api-gateway.svc"
  verify_toolforge_api_cert: true
  # for lima-kilo
  #verify_toolforge_api_cert: false
  max_deployments_retained: 25
  # The number of seconds to wait for a build to complete before timing out
  # 60 * 30 = 30 minutes
  build_timeout_seconds: 1800
